{% extends 'base.html' %}

{% block content %}
    <h1>Main Page</h1>
    <div class="container">
        <div class="row">
    {% for pet in pets %}
    <div class="col-sm-3">
        <a href="/pet/{{pet.id}}">
    <img src="{{pet.photo}}" class="img-thumbnail h" alt="...">
</a>
        <p>
            <span class="text-success">{{pet.name}}</span>
            {% if pet.avalible %}
                is Avalible
                {% else %}
                is not Avalible
            {% endif %}
        </p>
    </div>
    {% endfor %}
        </div>
        <a class="btn btn-success" href="/add">Add Pet</a>
</div>

{% endblock %}